<div class="filter">
  <mat-form-field>
    <mat-select placeholder="Все" [(ngModel)]="selectValue" (selectionChange)="this.handleSelect()">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.viewValue | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="searchQuery"
      placeholder="Введите название"
      (keyup)="this.handleSearch($event)"
    />
  </mat-form-field>
</div>
